<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi sitio{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% if user.is_authenticated %}
    <div class="nav-tabs">
        <a href="{% url 'home' %}" class="{% if request.path == '/home/' %}active{% endif %}">Home</a>
        <a href="{% url 'camara' %}" class="{% if request.path == '/camara/' %}active{% endif %}">Cámara</a>
    </div>
    {% endif %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'92ba382ffe6044fc',t:'MTc0Mzg2ODQxOC4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>
</html>