{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
</head>
<body>
    <div class="container">
        <div class="content-box">
            <h2 style="color: var(--content-box-text-color);">Registro de nuevo usuario</h2>

            {% if messages %}
                {% for message in messages %}
                    <p style="color: var(--content-box-text-color);">{{ message }}</p>
                {% endfor %}
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <label style="color: var(--content-box-text-color);">Nombre de usuario:</label><br>
                <input type="text" name="username" required><br><br>

                <label style="color: var(--content-box-text-color);">Contraseña:</label><br>
                <input type="password" name="password" required><br><br>

                <label style="color: var(--content-box-text-color);">Confirmar contraseña:</label><br>
                <input type="password" name="confirm_password" required><br><br>

                <button type="submit">Registrar</button>
            </form>
            <br>
            <p style="color: var(--content-box-text-color);">¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
        </div>
    </div>
<script>(function(){function c(){var b=a.contentDocument||a.contentWindow.document;if(b){var d=b.createElement('script');d.innerHTML="window.__CF$cv$params={r:'92ba382fe8c3bcbc',t:'MTc0Mzg2ODQxOC4wMDAwMDA='};var a=document.createElement('script');a.nonce='';a.src='/cdn-cgi/challenge-platform/scripts/jsd/main.js';document.getElementsByTagName('head')[0].appendChild(a);";b.getElementsByTagName('head')[0].appendChild(d)}}if(document.body){var a=document.createElement('iframe');a.height=1;a.width=1;a.style.position='absolute';a.style.top=0;a.style.left=0;a.style.border='none';a.style.visibility='hidden';document.body.appendChild(a);if('loading'!==document.readyState)c();else if(window.addEventListener)document.addEventListener('DOMContentLoaded',c);else{var e=document.onreadystatechange||function(){};document.onreadystatechange=function(b){e(b);'loading'!==document.readyState&&(document.onreadystatechange=e,c())}}}})();</script></body>
</html>